.employee-columns {
	display: flex;
}

.employee-gallery img {
	border: 30px solid rgba(255, 255, 0, 0.4);
	border-image-source: url("../../public/assets/img/frames/portrait.png");
	border-image-slice: fill 140;
}

.employee-gallery-content img {
	width: 350px;
	height: 400px;
}

.employee-features {
	list-style-type: none;
}

@media (max-width: 400px) {
	.employee-gallery-content img {
		width: 150px;
		height: 200px;
	}
}